{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    {% include "breadcumb-level2.html" %}

    <div class="row">
        <div class="col-md-12">
            <h3>{{model.name}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Description: </strong> {{model.description}}</li>
                <li class="list-group-item"><strong>Price: </strong> {{model.price}} €</li>
                <li class="list-group-item"><strong>Power: </strong> {{model.power}} CV</li>
                <li class="list-group-item">
                    <img class="img-responsive" src="{{model.image}}" alt="{{model.name}} image">
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
