{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    {% include "breadcumb-level2.html" %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{{model.name}}</div>
                <div class="panel-body">
                    <p class="text-justify">
                        {{model.description}}
                    </p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Price: </strong> {{model.price}} €</li>
                    <li class="list-group-item"><strong>Power: </strong> {{model.power}} CV</li>
                </ul>
            </div>


        </div>
        <div class="col-md-8">
            <a target="_blank" href="{{model.image}}">
                <img class="img-responsive img-thumbnail" src="{{model.image}}" alt="{{model.name}} image">
            </a>
            <div class="caption">{{model.name}} | Click for a full-size image</div>
        </div>
    </div>

{% endblock %}
