{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    {% include "breadcumb-level0.html" %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>New Style</h3>
            <form action="#" method = "post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" maxlength="80" class="form-control" name="name">
                    </div>
                </div>
                <div class="form-group pull-right">
                    <a class="btn btn-default btn-danger" href="{{url_for('showStyles')}}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                    </a>

                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
