{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    {% include "breadcumb-level0.html" %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{url_for('newStyle')}}">
                <button class="btn btn-default" id="new-style">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Style
                </button>
            </a>
        </div>
    </div>

    {% for style in styles %}
        <div class="row">
            <div class="col-md-12">
                <a href="{{url_for('showModels', style_id = style.id)}}">
                    <h3>{{style.name}}</h3>
                </a>
                <a href="{{ url_for('editStyle', style_id = style.id) }}">edit</a>
                <br>
                <a href="{{ url_for('deleteStyle', style_id = style.id) }}">delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
